.container {
    padding: 2rem;
    margin-top: 80px;
    background-color: #ffffff;
    color: #404040;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.orderContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.heading {
    font-size: 2.5rem;
    color: #404040;
    text-align: center;
    margin-bottom: 2rem;
}

.orderList {
    list-style-type: none;
    padding: 0;
}

.orderItem {
    padding: 1rem;
    border: 1px solid #D5BEBE;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #F8F4F4;
    width: 35%;
    height: 70%;
}


.orderButtons {
    display: flex;
    justify-content: space-around;
}

.status {
    font-weight: bold;
    color: #D5BEBE;
}

.actions {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.acceptButton, .rejectButton {
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acceptButton {
    background-color: #4CAF50;
    border: none;
    transition: transform 0.3s ease;
}

.rejectButton {
    background-color: #E74C3C;
    border: none;
    transition: transform 0.3s ease;
}

.acceptButton:hover,
.rejectButton:hover {
    transform: scale(1.1);
}

.acceptButton:disabled,
.rejectButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


.icon {
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .container {
        padding: 1rem;
        margin-top: 60px;
    }

    .heading {
        font-size: 2rem;
    }

    .orderContainer {
        flex-direction: column;
        align-items: center;
    }

    .orderItem {
        width: 100%;
        max-width: 450px;
        margin-bottom: 1rem;
    }

    .acceptButton,
    .rejectButton {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
    
    .icon {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 1.8rem;
    }

    .orderItem {
        width: 90%;
    }

    .acceptButton,
    .rejectButton {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }
}
