/* src/app/reservation/reservation.module.css */

.container {
    font-family: 'Georgia', serif;
    padding: 2rem;
  }
  
  .heading {
    color: #404040;
  }
  
  .productsSection {
    margin-bottom: 2rem;
  }
  
  .productsGrid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .reservationForm {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #F8F4F4;
    border-radius: 8px;
  }
  
  .reservationLabel {
    display: block;
    margin-bottom: 1rem;
    color: #404040;
  }
  
  .reservationButton {
    padding: 0.5rem 1rem;
    background-color: #D5BEBE;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .reservationButton:hover {
    background-color: #bca2a2;
  }
  
  /* src/app/reservation/reservation.module.css */

.reservationContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff; /* Sfondo bianco */
  }
  
  .content {
    flex: 1; /* Riempie lo spazio rimanente */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  